<!-- <h1>{{ title }}</h1>
<hr>
<p>
  Bienvenidos a Angular
</p>
<hr>
<h3>Counter: {{counter}}</h3> -->


<!-- Forma que funciona con dos funciones diferentes
<button (click)="increaseBy(-1)">-1</button>
<button (click)="decreaseBy()">+1</button> -->

<!-- Forma correcta de realizarlo -->
<!-- <button (click)="increaseBy(+1)">+1</button>
<button (click)="resetCounter()">Reset</button>
<button (click)="increaseBy(-1)">-1</button>

<hr> -->
<!-- <app-counter></app-counter>

<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->
<app-dbz-main-page></app-dbz-main-page>
